[viewBag]


[contactForm]
injectBootstrapAssets = "1"
injectMainScript = "1"
==
<div id="google-map" style="height:650px" data-latitude="-0.2529643" data-longitude="-79.1760525"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Información de contacto</h3>
                            <address>
                              <strong>Servicio Técnico Sthil Bosque y Jardin</strong><br>
                              Calle San Miguel # 139 entre Quito y Galapagos<br>
                              <strong>Teléfonos :</strong> 02 275 8897<br>
                             <strong> Sucursal :</strong> Calle Tulcán 1202 entre Guayaquil y Latacunga <br>
                             <strong>Teléfonos :</strong> 022764938 <strong>Cel :</strong> 0988303636<br>

  
                             Santo Domingo de los Tsáchilas, Ecuador<br>
                             
                              <a href="mailto:info@serviciotecnicostihl.com">info@serviciotecnicostihl.com</a><br>
                              {% component 'contactForm' %}
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>