[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".cort">Cortasetos</a></li>
           
        </ul>
        <!--/#portfolio-filter-->
    </div>
   
        <div class="portfolio-items" >

        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hsa65.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HSA-65</h3> Listos para el mejor resultado
                    <a class="preview" href="#hsa65" data-toggle="modal" data-target="#hsa65"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- ./ACUMULADOR -->
        <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hs45.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HS-45</h3> Listos para el mejor resultado
                    <a class="preview" href="#hs45" data-toggle="modal" data-target="#hs45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hs86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HS-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#hs86" data-toggle="modal" data-target="#hs86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
          </div>
</div>
<!--/.container-->