[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".cafe">Cosechadora de Café</a></li>

        </ul>
        <!--/#portfolio-filter-->
    </div>

        <div class="portfolio-items" >

        <!-- COSECHADOR DE CAFÉ -->
        <div class="portfolio-item col-md-4 col-xs-12 cafe">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ka85r.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>KA-85R</h3> Listos para el mejor resultado
                    <a class="preview" href="#ka85r" data-toggle="modal" data-target="#ka85r"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- ./COSECHADOR DE CAFÉ -->

          </div>
</div>
<!--/.container-->