[viewBag]
==
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Falsificaciones</h2>
        <p class="text-center wow fadeInDown">Preste atención: lo que en un principio puede parecerle toda una ganga puede acabar resultando a la larga muy caro, porque el bajo precio de las motosierras falsificadas viene acompañado de una corta vida útil, baja potencia y una seguridad muy deficiente.</p>
    </div>
   
    
        
          <!--modals-->
     

            </div>
            <div class="modal-body">
                
                <div class="bs-callout bs-callout-danger" id="callout-tables-striped-ie8">
    
    <em> Además, las falsificaciones no siempre se ofrecen a precios bajos. En ocasiones, sus precios están sólo un poco por debajo de los precios de los productos originales, una técnica empleada para dar la impresión a los posibles interesados de que son productos originales STIHL.
    <HR>
<h2 class="modal-title">Las falsificaciones: fuente de peligros</h2>

<p align="justify">Mientras los productos STIHL se caracterizan, entre otros aspectos, por sus altos estándares de calidad y seguridad, no sucede lo mismo con las imitaciones. En muchos casos las máquinas se estropean después de un corto periodo de tiempo de uso y, como los repuestos no están disponibles, no se pueden reparar. La situación es incluso más peligrosa porque los dispositivos de seguridad de las máquinas o directamente no existen o son defectuosos. Un ejemplo de esto se puede ver en el protector de mano para el freno de cadena automático, la parte más importante en la seguridad de una motosierra.</p><br>
<p align="justify">Las motosierras STIHL se han convertido en un foco de atención para los imitadores. La mayor parte de las falsificaciones vienen de China y son muy parecidas a los productos originales STIHL, especialmente en sus colores, naranja y gris. Incluso, las pegatinas falsas con el nombre de la marca STIHL o las denominaciones que aparecen en las máquinas, y que son familiares para los usuarios -como el modelo MS 440-, engañan a los consumidores. Aparte de los colores y la denominación del modelo, estas motosierras no tienen nada que ver con las originales STIHL.</p>

 
  </div>

            </div>
           
        </div>
    </div>
</div>
 <!--/.end modals-->
     
    </div>
    <br>

</div>