[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
           
            <li><a href="#" data-filter=".fumi">Fumigadoras</a></li>


        </ul>
        <!--/#portfolio-filter-->
    </div>

        <div class="portfolio-items" >

        <!-- FUMIGADORAS -->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr200.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-200</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr200" data-toggle="modal" data-target="#sr200"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr420.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-420</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr420" data-toggle="modal" data-target="#sr420"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr430.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-430</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr430" data-toggle="modal" data-target="#sr430"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr450.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-450</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr450" data-toggle="modal" data-target="#sr450"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- FUMIGADORAS -->

          </div>
</div>
<!--/.container-->