[viewBag]
==
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Garantías y Condiciones</h2>
        <p class="text-center wow fadeInDown">Cuando adquieres un producto de marca STIHL disfrutas de un producto de calidad respaldado por una garantía.</p>
    </div>
   
    <div class="portfolio-items">
        <div class="portfolio-item col-md-6 col-xs-12 agro fore dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/garantia/garantia.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Grantía</h3> Saber mas sobre garantía
                                       <a class="preview" href="#g1" data-toggle="modal" data-target="#g1"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        
          <!--modals-->
        
        <div class="modal fade" id="g1" tabindex="-1" role="dialog" aria-labelledby="g1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="01">Garantía</h4>
            </div>
            <div class="modal-body">
                
                <div class="bs-callout bs-callout-danger" id="callout-tables-striped-ie8">
    
    <em> La garantía tiene un periodo de validez de un (1) año para máquinas de uso profesional, a partir de la fecha de la primera compra a un distribuidor oficial STIHL, la cual cubre las piezas de recambio, aquellas piezas que estuvieran probadamente defectuosas de fábrica. 
    <HR>
La garantía no será de aplicación en los siguientes casos:</em>
    <ol>
        <li>	Si el defecto de las piezas se debe a reparaciones en talleres no autorizados por Stihl</li>
<li>	Si se han utilizado en reparaciones de la máquina piezas de recambio no original o no aprobadas por el fabricante.</li>
<li>	Si no se han observado las instrucciones de servicio y uso facilitadas por el fabricante en el manual del usuario.</li>
<li>	Si ha existido una manifiesta falta de idoneidad o aptitud técnica en el uso dado por el cliente o usuario a la máquina en cuestión, respecto del que fue destinado por el     fabricante.</li>
<li>    Si los defectos surgidos se deben a un mantenimiento inadecuado o defectuoso por parte del usuario o un tercero.</li>

</ol>
  </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
 <!--/.end modals-->
        
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-6 col-xs-12 agro fore dome portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/garantia/cgarantia.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Catálogo de Garantía</h3> Saber mas sobre el Cátalogo
                     <a class="preview" href="#cg" data-toggle="modal" data-target="#cg"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        
  <!--modals-->
        
        <div class="modal fade" id="cg" tabindex="-1" role="dialog" aria-labelledby="cg" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="01">Garantía</h4>
            </div>
            <div class="modal-body">
                
                <div class="bs-callout bs-callout-danger" id="callout-tables-striped-ie8">
    
    <em> La garantía tiene un periodo de validez de un (1) año para máquinas de uso profesional, a partir de la fecha de la primera compra a un distribuidor oficial STIHL, la cual cubre las piezas de recambio, aquellas piezas que estuvieran probadamente defectuosas de fábrica. 
    <HR>
La garantía no será de aplicación en los siguientes casos:</em>
    <ol>
        <li>	Si el defecto de las piezas se debe a reparaciones en talleres no autorizados por Stihl</li>
<li>	Si se han utilizado en reparaciones de la máquina piezas de recambio no original o no aprobadas por el fabricante.</li>
<li>	Si no se han observado las instrucciones de servicio y uso facilitadas por el fabricante en el manual del usuario.</li>
<li>	Si ha existido una manifiesta falta de idoneidad o aptitud técnica en el uso dado por el cliente o usuario a la máquina en cuestión, respecto del que fue destinado por el     fabricante.</li>
<li>    Si los defectos surgidos se deben a un mantenimiento inadecuado o defectuoso por parte del usuario o un tercero.</li>

</ol>
  </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
 <!--/.end modals-->
    </div>
    <br>

</div>