description = "Index modal for guadañas"

[viewBag]
==
<div class="portfolio-items">
        <div class="portfolio-item agro fore dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/detail/fs38.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-38</h3> Sus sembrios libres de maleza
                    <a class="preview" href="#fs38" data-toggle="modal" data-target="#fs38"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro fore dome portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs45.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-45</h3> Compactas de gran potencia
                    <a class="preview" href="#fs45" data-toggle="modal" data-target="#fs45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro fore">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs55.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-55</h3> Todas las máquinas que necesitas
                    <a class="preview" href="#fs55" data-toggle="modal" data-target="#fs55"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro fore dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs85.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-85</h3> Adecuado para cualquier trabajo
                    <a class="preview" href="#fs85" data-toggle="modal" data-target="#fs85"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs120.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-120</h3> Aumenta varias veces el rendimiento
                    <a class="preview" href="#fs120" data-toggle="modal" data-target="#fs120"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs160.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-160</h3> Para trabajos duros y exigentes
                    <a class="preview" href="#fs160" data-toggle="modal" data-target="#fs160"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item agro portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs250.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-250</h3> Llegan hasta lo más alto
                    <a class="preview" href="#fs250" data-toggle="modal" data-target="#fs250"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs280.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-280</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs280" data-toggle="modal" data-target="#fs280"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs280.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-450</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs450" data-toggle="modal" data-target="#fs450"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs510.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-510</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs510" data-toggle="modal" data-target="#fs510"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs550.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-550</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs550" data-toggle="modal" data-target="#fs550"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
    </div>