[viewBag]
==
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">JUEGOS</h2>
        <p class="text-center wow fadeInDown">Todo para los niños en STIHL</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                
             <img class="img-responsive" src="{{ 'assets/images/juegos.jpg'|theme }}" alt="">
            </div>
        </div>
        <!--/.col-sm-6-->
        <div class="col-sm-6">
            <br>
            La marca STIHL apasiona a mayores y pequeños en todo el mundo. Por eso, además de nuestras máquinas, ofrecemos divertidos juguetes y juegos para los fans de STIHL, la marca más vendida en el mundo.
            <br>
            <br>
            <br>
            <div class="row">
    <div class="col-md-4 col-xs-12"></div>
    <div class="col-md-4 col-xs-12"><a target="_blank" class="btn btn-primary btn-lg btn-block" href="http://www.stihl.es/unterhaltung/spiele/kidscorner/loader.html" role="button">Ir a Juegos</a></div>
    <div class="col-md-4 col-xs-12"></div>
</div>
        </div>
    </div>
</div>