[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".sier">Motosierras</a></li>

        </ul>
        <!--/#portfolio-filter-->
    </div>
        <div class="portfolio-items" >
        <!--MOTOSIERRAS-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms170.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-170</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms170" data-toggle="modal" data-target="#ms170"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms210.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-210</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms210" data-toggle="modal" data-target="#ms210"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms250.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-250</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms250" data-toggle="modal" data-target="#ms250"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms361.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-361</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms361" data-toggle="modal" data-target="#ms361"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms381.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-381</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms381" data-toggle="modal" data-target="#ms381"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms650.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-650</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms650" data-toggle="modal" data-target="#ms650"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms660.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-660</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms660" data-toggle="modal" data-target="#ms660"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!--/.MOTOSIERRAS-->
          </div>
</div>
<!--/.container-->