[viewBag]
==
<div class="container">

    <div class="section-header">-
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".moto">Motor Combi</a></li>
            
        </ul>
        <!--/#portfolio-filter-->
    </div>
    
        <div class="portfolio-items" >

        <!-- MOTOR COMBI -->
        <div class="portfolio-item col-md-4 col-xs-12 moto">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/km85r.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>KM-85R</h3> Listos para el mejor resultado
                    <a class="preview" href="#km85r" data-toggle="modal" data-target="#km85r"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- MOTOR COMBI -->
        
        <!--/.portfolio-item-->
          </div>
</div>
<!--/.container-->