[viewBag]
==
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a class="active" href="#" data-filter="*">Todos los productos</a></li>
            <li><a href="#" data-filter=".agro">Agropecuario</a></li>
            <li><a href="#" data-filter=".dome">Domestico</a></li>
            <li><a href="#" data-filter=".fore">Forestal</a></li>
        </ul>
        <!--/#portfolio-filter-->
    </div>
    <div class="portfolio-items">
        <div class="portfolio-item col-md-4 col-xs-12 agro fore dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/01.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Motoguadañas</h3> Sus sembrios libres de maleza
                    <a class="preview" href="/motoguadanas"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro fore dome portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/02.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Motosierras</h3> Compactas de gran potencia
                    <a class="preview" href="/motosierras"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro fore">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/03.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Motor Combi</h3> Todas las máquinas que necesitas
                    <a class="preview" href="/motorcombi"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro fore dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/04.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Sopladoras</h3> Adecuado para cualquier trabajo
                    <a class="preview" href="/sopladoras"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/05.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Cosechadora de Café</h3> Aumenta varias veces el rendimiento
                    <a class="preview" href="/cosechadora"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/06.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Taladro</h3> Para trabajos duros y exigentes
                    <a class="preview" href="/taladro"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 agro portfolio">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/07.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Podadora</h3> Llegan hasta lo más alto
                    <a class="preview" href="/podadora"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/08.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Cortasetos</h3> Listos para el mejor resultado
                    <a class="preview" href="/cortasetos"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 corporate dome">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/09.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>Fumigadoras</h3> Sus sembrios libres de maleza
                    <a class="preview" href="/fumigadoras"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
    </div>
    <br>
<div class="row">
    <div class="col-md-4 col-xs-12"></div>
    <div class="col-md-4 col-xs-12"><a class="btn btn-primary btn-lg btn-block" href="/productos" role="button">Ver todos los productos</a></div>
    <div class="col-md-4 col-xs-12"></div>
</div>
</div>
<!--/.container-->