description = "Main products"

[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a class="active" href="#" data-filter="*">Todos los productos</a></li>
            <li><a href="#" data-filter=".guad">Motoguadañas</a></li>
            <li><a href="#" data-filter=".sier">Motosierras</a></li>
            <li><a href="#" data-filter=".fumi">Fumigadoras</a></li>
            <li><a href="#" data-filter=".poda">Podadoras de altura</a></li>
            <li><a href="#" data-filter=".moto">Motor Combi</a></li>
        </ul>
        <!--/#portfolio-filter-->
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".ahoy">Ahoyadoras</a></li>
            <li><a href="#" data-filter=".sopl">Sopladoras</a></li>
            <li><a href="#" data-filter=".cafe">Cosechador de café</a></li>
            <li><a href="#" data-filter=".tala">Taladros</a></li>
            <li><a href="#" data-filter=".maqu">Máquinas con Acumulador</a></li>
            <li><a href="#" data-filter=".cort">Cortasetos</a></li>
            
        </ul>
    </div>
        <div class="portfolio-items" >
        <!--GUADAÑAS-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs38.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-38</h3> Sus sembrios libres de maleza
                    <a class="preview" href="#fs38" data-toggle="modal" data-target="#fs38"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs45.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-45</h3> Compactas de gran potencia
                    <a class="preview" href="#fs45" data-toggle="modal" data-target="#fs45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs55.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-55</h3> Todas las máquinas que necesitas
                    <a class="preview" href="#fs55" data-toggle="modal" data-target="#fs55"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs85.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-85</h3> Adecuado para cualquier trabajo
                    <a class="preview" href="#fs85" data-toggle="modal" data-target="#fs85"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs120.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-120</h3> Aumenta varias veces el rendimiento
                    <a class="preview" href="#fs120" data-toggle="modal" data-target="#fs120"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs160.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-160</h3> Para trabajos duros y exigentes
                    <a class="preview" href="#fs160" data-toggle="modal" data-target="#fs160"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs250.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-250</h3> Llegan hasta lo más alto
                    <a class="preview" href="#fs250" data-toggle="modal" data-target="#fs250"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs280.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-280</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs280" data-toggle="modal" data-target="#fs280"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs450.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-450</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs450" data-toggle="modal" data-target="#fs450"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs510.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-510</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs510" data-toggle="modal" data-target="#fs510"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 guad">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fs550.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FS-550</h3> Listos para el mejor resultado
                    <a class="preview" href="#fs550" data-toggle="modal" data-target="#fs550"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!--/.GUADAÑAS-->
        <!--MOTOSIERRAS-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms170.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-170</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms170" data-toggle="modal" data-target="#ms170"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms210.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-210</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms210" data-toggle="modal" data-target="#ms210"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms250.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-250</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms250" data-toggle="modal" data-target="#ms250"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms361.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-361</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms361" data-toggle="modal" data-target="#ms361"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms381.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-381</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms381" data-toggle="modal" data-target="#ms381"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms650.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-650</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms650" data-toggle="modal" data-target="#ms650"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sier">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ms660.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MS-660</h3> Listos para el mejor resultado
                    <a class="preview" href="#ms660" data-toggle="modal" data-target="#ms660"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!--/.MOTOSIERRAS-->
        <!-- FUMIGADORAS -->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr200.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-200</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr200" data-toggle="modal" data-target="#sr200"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr420.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-420</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr420" data-toggle="modal" data-target="#sr420"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr430.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-430</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr430" data-toggle="modal" data-target="#sr430"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 fumi">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sr450.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SR-450</h3> Listos para el mejor resultado
                    <a class="preview" href="#sr450" data-toggle="modal" data-target="#sr450"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- FUMIGADORAS -->
        <!-- PODADORAS  -->
        <div class="portfolio-item col-md-4 col-xs-12 poda">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ht131.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HT-131</h3> Listos para el mejor resultado
                    <a class="preview" href="#ht131" data-toggle="modal" data-target="#ht131"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 poda">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ht101.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HT-101</h3> Listos para el mejor resultado
                    <a class="preview" href="#ht101" data-toggle="modal" data-target="#ht101"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- PODADORAS -->
        <!-- MOTOR COMBI -->
        <div class="portfolio-item col-md-4 col-xs-12 moto">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/km85r.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>KM-85R</h3> Listos para el mejor resultado
                    <a class="preview" href="#km85r" data-toggle="modal" data-target="#km85r"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- MOTOR COMBI -->
        <!-- AHOYADORA -->
        <div class="portfolio-item col-md-4 col-xs-12 ahoy">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt121.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-121</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt121" data-toggle="modal" data-target="#bt121"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>

         <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 ahoy">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt130.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-130</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt130" data-toggle="modal" data-target="#bt130"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->



        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 ahoy">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt360.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-360</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt360" data-toggle="modal" data-target="#bt360"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- ./AHOYADORA -->
        <!-- SOPLADORA -->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/br600.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BR-600</h3> Listos para el mejor resultado
                    <a class="preview" href="#br600" data-toggle="modal" data-target="#br600"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sh86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SH-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt360" data-toggle="modal" data-target="#sh86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bg86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BG-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#bg86" data-toggle="modal" data-target="#bg86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- /.SOPLADORA -->
        <!-- COSECHADOR DE CAFÉ -->
        <div class="portfolio-item col-md-4 col-xs-12 cafe">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/ka85r.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>KA-85R</h3> Listos para el mejor resultado
                    <a class="preview" href="#ka85r" data-toggle="modal" data-target="#ka85r"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- ./COSECHADOR DE CAFÉ -->
        <!-- TALADRO -->
        <div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt45.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-45</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt45" data-toggle="modal" data-target="#bt45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt121t.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-121T</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt121t" data-toggle="modal" data-target="#bt121t"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->

<div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt130.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-130</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt130" data-toggle="modal" data-target="#bt130"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->


        <!-- ./TALADRO -->
        <!-- ACUMULADOR -->
        <div class="portfolio-item col-md-4 col-xs-12 maqu">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/msa160.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>MSA-160</h3> Listos para el mejor resultado
                    <a class="preview" href="#msa160" data-toggle="modal" data-target="#msa160"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 maqu">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/fsa85.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>FSA-85</h3> Listos para el mejor resultado
                    <a class="preview" href="#fsa85" data-toggle="modal" data-target="#fsa85"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
         <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hsa65.jpg'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HSA-65</h3> Listos para el mejor resultado
                    <a class="preview" href="#hsa65" data-toggle="modal" data-target="#hsa65"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- ./ACUMULADOR -->
        <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hs45.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HS-45</h3> Listos para el mejor resultado
                    <a class="preview" href="#hs45" data-toggle="modal" data-target="#hs45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 cort">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/hs86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>HS-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#hs86" data-toggle="modal" data-target="#hs86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
          </div>
</div>
<!--/.container-->