[viewBag]
==
<div class="dark-features features">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown" style="color:#eee">Nuestros Servicios</h2>
                <p class="text-center wow fadeInDown">¿Cómo le podemos ayudar hoy?</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="media-body">
                           
                               <h4><a target="_blank" href="/garantias" class="media-heading" style="color:#eee">Garantía y Condiciones</h4></a>
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
<!--/
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4><a target="_blank" href="/falsificaciones" class="media-heading" style="color:#eee">Falsificaciones</h4></a>
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                        <!--/
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="media-body">
                                <h4><a target="_blank" href="http://e.issuu.com/embed.html#18759967/14957921" class="media-heading" style="color:#eee">Catalogo de garantía</h4></a>
                                
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                 <!--/
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:#eee">Repuestos</h4>
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                         <!--/
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:#eee">Entrega técnica</h4>
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                         <!--/
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="color:#eee">Demostraciones</h4>
                                <p></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->