[viewBag]
==
<div class="owl-carousel">
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg01.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2>Tecnología a favor de la <span>naturaleza</span></h2>
                            <p>Productos de calidad y poder</p>
                            <a class="btn btn-primary btn-lg scroll" href="#features">Aprende más</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item-->

    <div class="item" style="background-image: url({{ 'assets/images/slider/bg03.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg04.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg05.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item-->    


 <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg06.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item--> 

 <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg07.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item--> 


 <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg08.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item--> 
 <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg09.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item--> 

 <!--/.item-->    
    <div class="item" style="background-image: url({{ 'assets/images/slider/bg10.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <!--<div class="carousel-content">
                            <h2><span>STIHL</span> es la mejor marca de máquinaria de trabajo</h2>
                            <p>Después que utilizas un producto STIHL, nunca vas a querer comprar otra marca</p>
                            <a class="btn btn-primary btn-lg scroll" href="#portfolio">Aprende más</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.item--> 

</div>
<!--/.owl-carousel-->