[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".sopl">Sopladoras</a></li>
            
        </ul>
        <!--/#portfolio-filter-->
    </div>

        <div class="portfolio-items" >
    
        <!-- SOPLADORA -->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/br600.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BR-600</h3> Listos para el mejor resultado
                    <a class="preview" href="#br600" data-toggle="modal" data-target="#br600"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/sh86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>SH-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt360" data-toggle="modal" data-target="#sh86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 sopl">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bg86.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BG-86</h3> Listos para el mejor resultado
                    <a class="preview" href="#bg86" data-toggle="modal" data-target="#bg86"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <!-- /.SOPLADORA -->
        
          </div>
</div>
<!--/.container-->