[viewBag]
==
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nuestros Productos</h2>
        <p class="text-center wow fadeInDown">Rapidez y productividad para cualquier proyecto.</p>
    </div>
    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a href="#" data-filter=".tala">Taladros</a></li>
            
        </ul>
        <!--/#portfolio-filter-->
    </div>
 
        <div class="portfolio-items" >

        <!-- TALADRO -->
        <div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt45.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-45</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt45" data-toggle="modal" data-target="#bt45"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt121t.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-121T</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt121t" data-toggle="modal" data-target="#bt121t"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->

<div class="portfolio-item col-md-4 col-xs-12 tala">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="{{ 'assets/images/products/detail/bt130.png'|theme }}" alt="">
                <div class="portfolio-info">
                    <h3>BT-130</h3> Listos para el mejor resultado
                    <a class="preview" href="#bt130" data-toggle="modal" data-target="#bt130"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->


        <!-- ./TALADRO -->

          </div>
</div>
<!--/.container-->